@charset "UTF-8";

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

html{
    background-image: url("../images/background-final-assignemnt.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.paper {
    background-image: url("../images/oldpaper-edgehalf1.png");
    background-repeat: no-repeat;
    position: absolute;
    top: -25%;
    left: -2%;
    right: 0%;
    height: 450px;
    width: 1911px;
    background-size: cover;
    z-index: -1;
    
}

.toptext {
    position: absolute;
    top: 5%;
    left: 2.5%;
    right: 0%;
    z-index: 2;
    display: flex;
    gap: 80px;
    
}

.text-button:hover {
    text-decoration: none;
    color: darkred;
    font-size: 41px;
    font-family: 'Rye', sans-serif;
}

.text-button {
    background: none;
    border: none;
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-family: 'Rye', sans-serif;
}

@font-face {
    font-family: 'Rye';
    src: url(../font-rye/Rye-Regular.ttf);
}

@font-face {
    font-family: 'Rouge';
    src: url(../font-rouge-script/RougeScript-Regular.ttf);
}

.img-redlip {
    background: white;
    padding: 8px;
    width: 800px;
    height: 506px;
    position: fixed;
    top: 18%;
    left: 8%;
}

h2 {
    font-family: 'Rye', sans-serif;
}

.deal {
    color: darkblue;
    font-size: 45px;
    position: fixed;
    top: 66.5%;
    left: 17.5%;
}

.boder-img {
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 400px;
    height: 100px;
    display: inline-block;
    position: fixed;
    top: 68%;
    left: 15%;
}

.dealimg{
    width: 184px;
    height: 265px;
    background: white;
    padding: 8px;

    position: fixed;
    top: 72%;
    left: 3%;
}

.imgproductv {
    width: 350px;
    height: 280px;
    background: white;
    padding: 8px;

    position: fixed;
    top: 70%;
    left: 43%;
}

.aboutvimg {
    width: 652px;
    height: 839px;
    background: white;
    padding: 8px; 

    position: fixed;
    top: 16%;
    left: 63.5%;
}

.backgrounddeal {
    background-color: aliceblue;
    box-sizing: border-box;
    display: inline-block;
    padding: 15px;
    width: 400px;
    position: fixed;
    top: 79%;
    left: 17%;
    text-align: center;
    word-wrap: break-word;
}

.buttondeal {
    font-size: 30px;
    position: fixed;
    top: 94%;
    left: 23%;
}

.textbuttondeal {
    text-decoration: none;
}

.powderimg {
    width: 450px;
    height: 285px;
    position: fixed;
    top: 73%;
    left: 26.5%;
}

.eyeshadoimg {
    width: 450px;
    height: 285px;
    position: fixed;
    top: 73%;
    left: 51%;
}

.rougeimg {
    width: 450px;
    height: 285px;
    position: fixed;
    top: 73%;
    left: 75.5%;
}

.chartimg {
    width: 304px;
    height: 394px;
    position: fixed;
    top: 20%;
    left: 62.5%;
    
}

.pricesimg {
    width: 600px;
    height: 455px;
    position: fixed;
    top: 20%;
    left: 30%;
}

.nailimg {
    position: fixed;
    top: 20%;
    left: 79.5%;
}

textarea {
 height: 50px;
 width: 250px;
}

.product-option {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 10px;
    transform: translateX(70px);
}

.product-option label {
    font-size: 10px;
}

.order-form {
    position: relative;
    z-index: 10;
    padding: 10px;
    width: 400px;
    margin-top: 205px;
    transform: translateX(70px);
    font-family: 'Rye', sans-serif;
}

.backgroundlist {
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 450px;
    height: 880px;
}

.placenum {
    position: absolute;
    top: 97%;
    left: 2%;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 450px;
    height: 390px;
    position: fixed;
    top: 18%;
    left: 15%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rouge', sans-serif;
    font-size: 26px;
    line-height: 0.9;
    word-spacing: normal;
}

.letter2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 450px;
    height: 390px;
    position: fixed;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rouge', sans-serif;
    font-size: 26px;
    line-height: 0.9;
    word-spacing: normal;
}

.letter3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 450px;
    height: 390px;
    position: fixed;
    top: 18%;
    left: 85%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rouge', sans-serif;
    font-size: 26px;
    line-height: 0.9;
    word-spacing: normal;
}

.letter4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 450px;
    height: 390px;
    position: fixed;
    top: 60%;
    left: 85%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rouge', sans-serif;
    font-size: 26px;
    line-height: 0.9;
    word-spacing: normal;
}

.letter5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 450px;
    height: 390px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rouge', sans-serif;
    font-size: 26px;
    line-height: 0.9;
    word-spacing: normal;
}

.letter6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 450px;
    height: 390px;
    position: fixed;
    top: 60%;
    left: 15%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rouge', sans-serif;
    font-size: 26px;
    line-height: 0.9;
    word-spacing: normal;
}

.militarywomen {
    width: 519px;
    height: 667px;
    position: fixed;
    top: 240px;
    left: 1330px;
}

.victorywomen {
    width: 668px;
    height: 302px;
    position: fixed;
    top: 280px;
    left: 100px;
}

.donations {
    font-size: 50px;
    position: fixed;
    top: 150px;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 560px;
    height: 100px;
    position: fixed;
    top: 12%;
    left: 35%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.senddonations {
    font-size: 22px;
    position: fixed;
    top: 150px;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 260px;
    height: 35px;
    position: fixed;
    top: 25%;
    left: 49%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.join {
    font-size: 22px;
    position: fixed;
    top: 150px;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 260px;
    height: 35px;
    position: fixed;
    top: 56%;
    left: 49%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.backgroundnum {
    position: fixed;
    top: 330px;
    left: 900px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    width: 300px;
    height: 280px;
    padding: 20px;
    box-sizing: border-box;
}

.backgroundnum2 {
    position: fixed;
    top: 664px;
    left: 900px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    width: 300px;
    height: 390px;
    padding: 20px;
    box-sizing: border-box;
}

.anum {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-family: 'Rye', sans-serif;
}

label {
    line-height: 1.3;
}

option {
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 850px;
    height: 464px;
    position: fixed;
    top: 55%;
    left: 24%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rouge', sans-serif;
    font-size: 32px;
    line-height: 0.9;
    word-spacing: normal;

}

.img-eli {
    position: fixed;
    top: 210px;
    left: 80px;
    /*width: 253px;
    height: 386px;*/
    width: 380px;
    height: 580px;
    background: white;
    padding: 8px;
}

.img-building {
    position: fixed;
    top: 650px;
    left: 512px;
    background: white;
    padding: 8px;
}

.infoaboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 550px;
    height: 460px;
    position: fixed;
    top: 14%;
    left: 41%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rye', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    word-spacing: normal;

}

.infoaboutus2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 400px;
    height: 240px;
    position: fixed;
    top: 76%;
    left: 14%;
    transform: translateX(-50%);
    padding-bottom: 15px;

}

.infosupport {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 750px;
    height: 760px;
    position: fixed;
    top: 26%;
    left: 78%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rouge', sans-serif;
    font-size: 26px;
    line-height: 0.9;
    word-spacing: normal;
}

.textlogo {
    font-family: 'Rouge', sans-serif;
    font-size: 26px;
    line-height: 0.9;
}

.support {
    font-size: 55px;
    position: fixed;
    top: 150px;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 265px;
    height: 95px;
    position: fixed;
    top: 14%;
    left: 71%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.logowinged {
    width: 170px;
    height: 163px;
    position: absolute;
    top: 840px;
    left: 174px;
    z-index: 10;
}
