@charset "UTF-8";

html, body {
    height: 100%;
    margin: 0;
}

html{
    background-image: url("../images/background-final-assignemnt.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.paper {
    background-image: url("../images/oldpaper-edgehalf1.png");
    background-repeat: no-repeat;
    position: absolute;
    top: -25%;
    left: -2%;
    right: 0%;
    height: 450px;
    width: 1911px;
    background-size: cover;
    z-index: -1;
    
}

.toptext {
    position: absolute;
    top: 5%;
    left: 7%;
    right: 0%;
    z-index: 2;
    display: flex;
    gap: 80px;
    
}

.text-button:hover {
    text-decoration: none;
    color: darkred;
    font-size: 42px;
    font-family: 'Rye', sans-serif;
}

.text-button {
    background: none;
    border: none;
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-family: 'Rye', sans-serif;
}

@font-face {
    font-family: 'Rye';
    src: url(../font-rye/Rye-Regular.ttf);
}

.img-redlip {
    background: white;
    padding: 8px;
    width: 800px;
    height: 506px;
    position: fixed;
    top: 20%;
    left: 5%;
}

h2 {
    font-family: 'Rye', sans-serif;
}

.deal {
    color: darkblue;
    font-size: 45px;
    position: fixed;
    top: 68.5%;
    left: 22.5%;
}

.boder-img {
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 400px;
    height: 100px;
    display: inline-block;
    position: fixed;
    top: 70%;
    left: 20%;
}