@charset "UTF-8";

html {
     background-image: url("../images/background-final-assignemnt.png"); 
     background-repeat: no-repeat;
     background-position: center top;
     background-size: cover;
}