@charset "UTF-8";

/*----mainpage.html css code start----*/

/*html and body wont scroll side to side or up and down*/
html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*this is the backgound of the page only one image*/
html{
    background-image: url("../images/background-final-assignemnt.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

/*this is background for paper at the top of the page for nav system*/
.paper {
    background-image: url("../images/oldpaper-edgehalf1.png");
    background-repeat: no-repeat;
    position: absolute;
    top: -25%;
    left: -2%;
    right: 0%;
    height: 450px;
    width: 1911px;
    background-size: cover;
    z-index: -1;
    
}

/*this is the titles for the nav system*/
.toptext {
    position: absolute;
    top: 5%;
    left: 2.5%;
    right: 0%;
    z-index: 2;
    display: flex;
    gap: 80px;
    
}

/*this will change color red to tell you if you are hovering on it*/
.text-button:hover {
    text-decoration: none;
    color: darkred;
    font-size: 41px;
    font-family: 'Rye', sans-serif;
}

/*this is the text button normal*/
.text-button {
    background: none;
    border: none;
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-family: 'Rye', sans-serif;
}

/*New Fonts added */

@font-face {
    font-family: 'Rye';
    src: url(../font-rye/Rye-Regular.ttf);
}

@font-face {
    font-family: 'Rouge';
    src: url(../font-rouge-script/RougeScript-Regular.ttf);
}

/*----mainpage.html css code----*/

/*boder for image*/
.img-redlip {
    background: white;
    padding: 8px;
    width: 800px;
    height: 506px;
    position: fixed;
    top: 18%;
    left: 8%;
}

/*font-family with new font that i added*/
h2 {
    font-family: 'Rye', sans-serif;
}

/*text for the word deal*/
.deal {
    color: darkblue;
    font-size: 45px;
    position: fixed;
    top: 66.5%;
    left: 17.5%;
}

/*border image with paper edge for the text deal*/
.boder-img {
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 400px;
    height: 100px;
    display: inline-block;
    position: fixed;
    top: 68%;
    left: 15%;
}

/*background border and img*/
.dealimg{
    width: 184px;
    height: 265px;
    background: white;
    padding: 8px;

    position: fixed;
    top: 72%;
    left: 3%;
}

/*background border and img*/
.imgproductv {
    width: 350px;
    height: 280px;
    background: white;
    padding: 8px;

    position: fixed;
    top: 70%;
    left: 43%;
}

/*background border and img*/
.aboutvimg {
    width: 652px;
    height: 839px;
    background: white;
    padding: 8px; 

    position: fixed;
    top: 16%;
    left: 63.5%;
}

/*background box white for text*/
.backgrounddeal {
    background-color: aliceblue;
    box-sizing: border-box;
    display: inline-block;
    padding: 15px;
    width: 400px;
    position: fixed;
    top: 79%;
    left: 17%;
    text-align: center;
    word-wrap: break-word;
}

/*Purchase button position text size*/
.buttondeal {
    font-size: 30px;
    position: fixed;
    top: 94%;
    left: 23%;
}

/*so it doest have line under the word due to href*/
.textbuttondeal {
    text-decoration: none;
}

/*----mainpage.html css code end----*/


/*---victory-makeup.html css code start----*/

/*img positioning and sizing*/
.powderimg {
    width: 450px;
    height: 285px;
    position: fixed;
    top: 73%;
    left: 26.5%;
}

/*img positioning and sizing*/
.eyeshadoimg {
    width: 450px;
    height: 285px;
    position: fixed;
    top: 73%;
    left: 51%;
}

/*img positioning and sizing*/
.rougeimg {
    width: 450px;
    height: 285px;
    position: fixed;
    top: 73%;
    left: 75.5%;
}

/*img positioning and sizing*/
.chartimg {
    width: 304px;
    height: 394px;
    position: fixed;
    top: 20%;
    left: 62.5%;
    
}

/*img positioning and sizing*/
.pricesimg {
    width: 600px;
    height: 455px;
    position: fixed;
    top: 20%;
    left: 30%;
}

/*img positioning and sizing*/
.nailimg {
    position: fixed;
    top: 20%;
    left: 79.5%;
}

/*textbox size inside the list i made*/
textarea {
 height: 50px;
 width: 250px;
}

/*positioning and on list div with colu*/
.product-option {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 10px;
    transform: translateX(70px);
}

/*font-sizing*/
.product-option label {
    font-size: 10px;
}

/*font-family and position and on the list for title */
.order-form {
    position: relative;
    z-index: 10;
    padding: 10px;
    width: 400px;
    margin-top: 205px;
    transform: translateX(70px);
    font-family: 'Rye', sans-serif;
}

/*background for list and sizing of the img */
.backgroundlist {
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 450px;
    height: 880px;
}

/*submit button position */
.placenum {
    position: absolute;
    top: 97%;
    left: 2%;
}

/*---victory-makeup.html css code End----*/


/*---letters.html css code start----*/

/*letter1 of position and size*/
.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 450px;
    height: 390px;
    position: fixed;
    top: 18%;
    left: 15%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rouge', sans-serif;
    font-size: 26px;
    line-height: 0.9;
    word-spacing: normal;
}

/*letter2 of position and size*/
.letter2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 450px;
    height: 390px;
    position: fixed;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rouge', sans-serif;
    font-size: 26px;
    line-height: 0.9;
    word-spacing: normal;
}

/*letter3 of position and size*/
.letter3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 450px;
    height: 390px;
    position: fixed;
    top: 18%;
    left: 85%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rouge', sans-serif;
    font-size: 26px;
    line-height: 0.9;
    word-spacing: normal;
}

/*letter4 of position and size*/
.letter4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 450px;
    height: 390px;
    position: fixed;
    top: 60%;
    left: 85%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rouge', sans-serif;
    font-size: 26px;
    line-height: 0.9;
    word-spacing: normal;
}

/*letter5 of position and size*/
.letter5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 450px;
    height: 390px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rouge', sans-serif;
    font-size: 26px;
    line-height: 0.9;
    word-spacing: normal;
}

/*letter6 of position and size*/
.letter6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 450px;
    height: 390px;
    position: fixed;
    top: 60%;
    left: 15%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rouge', sans-serif;
    font-size: 26px;
    line-height: 0.9;
    word-spacing: normal;
}

/*---letters.html css code end----*/



/*---donations.html css code start----*/

/*img sizing and positioning*/
.militarywomen {
    width: 519px;
    height: 667px;
    position: fixed;
    top: 240px;
    left: 1330px;
}

/*img sizing and positioning*/
.victorywomen {
    width: 668px;
    height: 302px;
    position: fixed;
    top: 280px;
    left: 100px;
}

/*background for title military donations and placement of it*/
.donations {
    font-size: 50px;
    position: fixed;
    top: 150px;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 560px;
    height: 100px;
    position: fixed;
    top: 12%;
    left: 35%;
    align-items: center;
    display: flex;
    justify-content: center;
}

/*background for title send donations and placement of it*/
.senddonations {
    font-size: 22px;
    position: fixed;
    top: 150px;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 260px;
    height: 35px;
    position: fixed;
    top: 25%;
    left: 49%;
    align-items: center;
    display: flex;
    justify-content: center;
}

/*background for title join the military and placement of it*/
.join {
    font-size: 22px;
    position: fixed;
    top: 150px;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 260px;
    height: 35px;
    position: fixed;
    top: 56%;
    left: 49%;
    align-items: center;
    display: flex;
    justify-content: center;
}

/*background for list of donations and positioning placement*/
.backgroundnum {
    position: fixed;
    top: 330px;
    left: 900px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    width: 300px;
    height: 280px;
    padding: 20px;
    box-sizing: border-box;
}

/*background for list of join the military and positioning placement*/
.backgroundnum2 {
    position: fixed;
    top: 664px;
    left: 900px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    width: 300px;
    height: 390px;
    padding: 20px;
    box-sizing: border-box;
}

/**/
.anum {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-family: 'Rye', sans-serif;
}

/*spacing of between check and text box and text*/
label {
    line-height: 1.3;
}

option {
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 850px;
    height: 464px;
    position: fixed;
    top: 55%;
    left: 24%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rouge', sans-serif;
    font-size: 32px;
    line-height: 0.9;
    word-spacing: normal;

}

/*---donations.html css code end----*/


/*---aboutus.html css code start----*/


/*image size position and border*/
.img-eli {
    position: fixed;
    top: 210px;
    left: 80px;
    /*width: 253px;
    height: 386px;*/
    width: 380px;
    height: 580px;
    background: white;
    padding: 8px;
}


/*image size position and border*/
.img-building {
    position: fixed;
    top: 650px;
    left: 512px;
    background: white;
    padding: 8px;
}


/*background for text infomation and placement and sizing and text*/
.infoaboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 550px;
    height: 460px;
    position: fixed;
    top: 14%;
    left: 41%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rye', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    word-spacing: normal;


}


/*background for text infomation and placement and sizing and text*/
.infoaboutus2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 400px;
    height: 240px;
    position: fixed;
    top: 76%;
    left: 14%;
    transform: translateX(-50%);
    padding-bottom: 15px;


}


/*background for text infomation and placement and sizing and text*/
.infosupport {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 750px;
    height: 760px;
    position: fixed;
    top: 26%;
    left: 78%;
    transform: translateX(-50%);
    padding: 60px;
    flex-direction: column;
    text-align: center;
    font-family: 'Rye', sans-serif;
    font-size: 26px;
    line-height: 1;
    word-spacing: normal;
}


/*text position an d size of the name of the logo*/
.textlogo {
    font-family: 'Rouge', sans-serif;
    font-size: 26px;
    line-height: 0.9;
}


/*background for text infomation and placement and sizing*/
.support {
    font-size: 55px;
    position: fixed;
    top: 150px;
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    width: 265px;
    height: 95px;
    position: fixed;
    top: 14%;
    left: 71%;
    align-items: center;
    display: flex;
    justify-content: center;
}


/*position and sizing of the logo img on top of backgroud img*/
.logowinged {
    width: 170px;
    height: 163px;
    position: absolute;
    top: 840px;
    left: 174px;
    z-index: 10;
}


/*position of text and size at bottom of background*/
.infosupport h4 {
    position: relative;
    top: 25px;
    align-self: flex-start;
    text-align: left;
    font-size: 10px;
}


/*---aboutus.html css code end----*/




/*---victory-makeup.js css code start----*/


/*when alert appaers doesnt effect background visuals and position*/
.alert-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35); /* transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}


/* background for alert text box controls size, position, and paper image */
.alert-box {
    background-image: url("../images/oldpaper-edge1.png");
    background-size: 100% 100%;
    width: 420px;
    padding: 40px;
    text-align: center;
    font-family: 'Rye', sans-serif;
    font-size: 20px;
}


/* clickable button inside alert controls size, font, and border */
.alert-box button {
    margin-top: 20px;
    font-family: 'Rye', sans-serif;
    font-size: 16px;
    background: none;
    border: 2px solid black;
    padding: 6px 16px;
    cursor: pointer;
}


/* hides elements when class is applied */
.hidden {
    display: none;
}


/* reset text position on page */
.reset {
    position:absolute;
    top: 15px;
    left: 40px;
    font-size: large;
}


/* reset button size and position */
.resetbutton {
    width: 15px;
    height: 15px;
    position:absolute;
    left: 30px;
}


/*---victory-makeup.js css code END----*/