@charset "UTF-8";

html, body {
    height: 100%;
    margin: 0;
}

html{
    background-image: url("../images/background-final-assignemnt.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.paper {
    background-image: url("../images/oldpaper-edgehalf1.png");
    background-repeat: no-repeat;
    position: absolute;
    top: -25%;
    left: -2%;
    right: 0%;
    height: 450px;
    width: 1911px;
    background-size: cover;
    z-index: -1;
    
}

.toptext {
    position: absolute;
    top: 5%;
    left: 7%;
    right: 0%;
    z-index: 2;
    display: flex;
    gap: 80px;
    
}

.text-button:hover {
    text-decoration: none;
    color: darkred;
    font-size: 41px;
    font-family: 'Rye', sans-serif;
}

.text-button {
    background: none;
    border: none;
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-family: 'Rye', sans-serif;
}

@font-face {
    font-family: 'Rye';
    src: url(../font-rye/Rye-Regular.ttf);
}

.img-redlip {
    background: white;
    padding: 8px;
    width: 800px;
    height: 506px;
    position: fixed;
    top: 18%;
    left: 8%;
}

h2 {
    font-family: 'Rye', sans-serif;
}

.deal {
    color: darkblue;
    font-size: 45px;
    position: fixed;
    top: 66.5%;
    left: 17.5%;
}

.boder-img {
    background-image: url(../images/oldpaper-edge1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 400px;
    height: 100px;
    display: inline-block;
    position: fixed;
    top: 68%;
    left: 15%;
}

.dealimg{
    width: 184px;
    height: 265px;
    background: white;
    padding: 8px;

    position: fixed;
    top: 72%;
    left: 3%;
}

.imgproductv {
    width: 350px;
    height: 280px;
    background: white;
    padding: 8px;

    position: fixed;
    top: 70%;
    left: 43%;
}

.aboutvimg {
    width: 652px;
    height: 839px;
    background: white;
    padding: 8px; 

    position: fixed;
    top: 16%;
    left: 63.5%;
}

.backgrounddeal {
    background-color: aliceblue;
    box-sizing: border-box;
    display: inline-block;
    padding: 15px;
    width: 400px;
    position: fixed;
    top: 79%;
    left: 17%;
    text-align: center;
    word-wrap: break-word;
}

.buttondeal {
    font-size: 30px;
    position: fixed;
    top: 94%;
    left: 23%;
}

.textbuttondeal {
    text-decoration: none;
}

.powderimg {
    width: 450px;
    height: 285px;
    position: fixed;
    top: 73%;
    left: 26.5%;
}

.eyeshadoimg {
    width: 450px;
    height: 285px;
    position: fixed;
    top: 73%;
    left: 51%;
}

.rougeimg {
    width: 450px;
    height: 285px;
    position: fixed;
    top: 73%;
    left: 75.5%;
}

.chartimg {
    width: 304px;
    height: 394px;
    position: fixed;
    top: 20%;
    left: 62.5%;
    
}

.pricesimg {
    width: 600px;
    height: 455px;
    position: fixed;
    top: 20%;
    left: 30%;
}

.nailimg {
    position: fixed;
    top: 20%;
    left: 79.5%;
}